/* Scroll down to .blog-post to see this method in action */

/* removes excess margin on all elements */
* {
  margin: 0;
}


body {
  background-color: whitesmoke;
}

.blog-header {
  background-color: beige;
  margin-bottom: 2em;
  padding: 1em;
  text-align: center;
}

.note {
  color: maroon;
  margin: 1em 0;
  text-align: center;
}

/* METHOD 1: Using margin and max-width */
.blog-post {
  /* these help center the content */
  margin: 0 auto;
  max-width: 600px;

  /* extra styling */
  line-height: 2rem;
}

.blog-post, .non-example {
  /* styling to see what's happening */
  border: 1px solid blue;
  padding: 1em;
  margin-bottom: 2em;
}

h1, 
h2, 
h3, 
p {
  margin-bottom: 1rem;
}