/* BASE RESET */
/* removes excess margin on all elements */
* {
  margin: 0;
}

/* BASE STYLES */
body {
  background-color: whitesmoke;
  line-height: 2rem;
  font-size: 18px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1, h2, h3, p, ul {
  margin: 1em 0;
}

header {
  background-color: lightblue;
  margin: 0 0 2em;
  padding: 1em;
  text-align: center;
}

.nav-links a {
  text-decoration: none;
}

.note {
  color: maroon;
  margin: 1em 0;
  text-align: center;
  font-size: .9rem;
}

.blog-post, .non-example {
  padding: 1em;
}

footer {
  margin: 2rem auto;
  max-width: 600px;
  text-align: center;
  font-size: .8rem;
}

/* extra styling to see what's happening */
.solid {
  border: 2px solid blue;
}

.solid, .dotted {
  padding: .25em;
}

.dotted {
  border: 1px dotted blue;
}
